/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-ene-2016, 18:55:58
    Author     : JaviMedion
*/

@font-face {
    font-family: 'bpdotsregular';
    src: url('../fonts/bpdots-webfont.eot');
    src: url('../fonts/bpdots-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bpdots-webfont.woff2') format('woff2'),
        url('../fonts/bpdots-webfont.woff') format('woff'),
        url('../fonts/bpdots-webfont.ttf') format('truetype'),
        url('../fonts/bpdots-webfont.svg#bpdotsregular') format('svg');
    font-family: font7segmentos;
    src: url('../fonts/DSEG7Classic-BoldItalic.woff');
    font-weight: bold;
    font-style: normal;
    

}

.ui-body-e {
    background-color:#fbef7e !important;
}

.ui-header-fixed {

    color:whitesmoke !important;
    font-family: cursive !important;
    letter-spacing: 3px !important; 
   /* background: linear-gradient(blue,lightblue) !important;
    background: -webkit-linear-gradient(blue,lightblue) !important;*/
    background-color:black !important;
    -webkit-text-shadow: 0px 0px 15px white !important;
    text-shadow:-0px 0px 9px white !important;
    font-size :0.9em !important;
    border-top-color:orange !important; 
    border-top-width: 2px !important;
    border-bottom-color:orange !important; 
    border-bottom-width: 2px !important;
    box-shadow: inset 0px 0px 25px 5px orange!important;
    border-top: 0em;
    
}


.ui-header-fixed a{
    background-color: black !important;  
    border:0 !important;
     
    margin:0px;
}


.ui-content {

    margin : 0;
    padding: 0;
    position : absolute !important; 
    top : 30px !important;  
    right : 0; 
    /*bottom : 30px !important;*/
    bottom: 0px;
    left : 0 !important; 
    /*background-color: black !important;*/
    display: block !important; 
}


#visual {

    padding: 0 !important;
    margin: 0 !important;
    float : left;
    /*border-right:4px dotted white;*/
    background-image: url("../img/fondo_negro.jpg") !important; 
    width: 71% !important;
    height: 100% !important;
 
}

#gaugeVolt {
    width:123px;
    height:123px;
    float:left;
}

#gaugeAmp {
    width:123px;
    height:123px;
    float:next;
}
#gaugeTemp{
    width:123px;
    height:123px;
    float:next;
  
}

.disp_valor {
   /* float:bottom;*/
    font-family:font7segmentos; 
    letter-spacing: 2px; 
    text-align :center;
    font-weight:bold;
    color:#99ff33;
    font-size: 1.7em;
    margin: 0;
    -webkit-text-shadow: 0px 0px 25px white !important;
    text-shadow:0px 0px 25px white !important;
    display:inline !important;
    padding-right:0.25em;
    padding-left:0.5em;
}
.magnitud {
   color:orange; 
   font-family:"Times New Roman", Times, serif;
   font-weight:bold;
   text-shadow: 0px 0px 18px yellow;
   font-size:1.5em;
   display:inline;
}

#connectionScreen {
    float:right;
    padding: 0 !important;
    margin: 0 !important;
    width: 29% !important;
    background-color: black;
    /*background:linear-gradient( #99ff33,#CCFFCC )  !important;*/
    /*background:-webkit-linear-gradient( #99ff33,#CCFFCC )  !important;*/
    height: 100% !important;
    /*display:block;*/
    -webkit-box-shadow: -3px -3px 30px 5px rgba(102,102,102,0.65) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(102,102,102,0.65) !important;
    -ms-box-shadow: 0px 0px 5px 0px rgba(102,102,102,0.65) !important;
    box-shadow: inset 0px 0px 15px 9px orange!important;
}
#connectionScreen p {
   color:orange; 
   font-size: 0.9em !important;
   text-align: center;
   margin : 2px 0 0 0;
   text-decoration: underline; 
   font-weight:bold;
   text-shadow: 1px 1px 15px white;
}

 button {
    box-shadow: 3px 3px 16px 1px lightblue;
    border-radius: 1em !important;
    color : yellow !important;
    background:linear-gradient( #5f9cc5,#396b9e )  !important;
    background:-webkit-linear-gradient( #5f9cc5,#396b9e )  !important;
    text-align: center !important;
    font-size: 0.6em !important;
}

.ui-flipswitch{
    border-radius: 1em;
    color: yellow !important;
    box-shadow: 1px 1px 5px 0px rgba(102,102,102,0.65) !important;
    background:linear-gradient( #5f9cc5,#396b9e )  !important;
    background:-webkit-linear-gradient( #5f9cc5,#396b9e )  !important;
    font-size: 1em !important;
    margin: 0px !important;
}

label {
    color:whitesmoke;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    padding-right:10px;
    text-shadow: 3px 3px 10px white;
}

/*
.ui-footer-fixed {
   
    background: linear-gradient(blue,lightblue) !important;
    background: -webkit-linear-gradient(blue,lightblue) !important;
    
    color: lightgray  !important;
    background-color: black !important;
    letter-spacing: 3px !important; 
    -webkit-text-shadow: 0px 0px 15px white !important;
    text-shadow:0px 0px 8px white !important;
    box-shadow: inset 0px 0px 9px 4px orange!important;
    border-top: 0em;
}

.ui-footer-fixed h1 {
     font-size :0.8em !important;
}

*/





#btnAbout {
  right:0.8em;
  top:0.5em;  
  margin: 0 0 0 0 !important;
  border : 0 !important;
  background-color:black;
  height:1.1em;
  width:1.1em;
}

#popupAbout {
    color:orange;
   font-size: 1em;
   opacity:0.95;
   background: black;
   -webkit-box-shadow: 10px 10px 5px 0px rgba(102,102,102,0.65);
    -moz-box-shadow: 10px 10px 5px 0px rgba(102,102,102,0.65);
    -ms-box-shadow: 10px 10px 5px 0px rgba(102,102,102,0.65);
    box-shadow:  0px 0px 25px 10px orange;
    /*width:10em;*/
    text-shadow: 0px 0px 15px white;
    
}

#popupAbout a{
   margin:8% 15% 5% 15%;
   color:navy;
   text-shadow: 0px 0px 18px white;
   background-color: gray;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}
